* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
ul {
  padding-left: 30px;
}
/* NAV */
nav {
  background-color: #ffffff;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}
nav > a {
  text-decoration: none;
  color: #000;
  margin: 15px;
  font-size: 1rem;
  display: block;
  padding: 0.1rem;
  font-weight: bold;
  transition: all 0.5s;
  border: 3px solid transparent;
}
nav > a:not(.contactBtn):hover {
  display: inline-block;
  border: 3px solid #b6977d;
  color: #b6977d;
}
a.contactBtn {
  display: block;
  border: 0;
  font-size: 1rem;
  background-color: #b6977d;
  padding: 8px 24px;
  border-radius: 20px;
  margin: 20px;
  outline: none;
  cursor: pointer;
  transition: all 0.3s linear;
}
a.contactBtn {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
a.contactBtn:hover,
a.contactBtn:focus {
  background-color: #7c6655;
}
a.contactBtn:active {
  background-color: #7c6655;
}

/* MAIN */
main {
  min-height: calc(100vh - 50px - 70px);
  margin-top: 50px;
}

/* section welcome in home-page */
section.welcome-section {
  position: relative;
  background-color: #b6977d;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.welcome-section::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 70%;
  background-color: #ffe9d6;
}
section.welcome-section > div {
  position: relative;
  width: 70%;
  display: flex;
}
section.welcome-section > div img {
  width: 100%;
  border-radius: 25px;
}
section.welcome-section > div > div.info {
  position: relative;
  min-width: 300px;
}
section.welcome-section > div > div.info > h1 {
  position: absolute;
  font-size: 2.6rem;
  color: #fff;
  background-color: #b6977d;
  padding: 10px;
  top: 60px;
  left: -80px;
}
section.welcome-section > div > div.info > p {
  position: relative;
  font-size: 1.5rem;
  top: 140px;
  left: 15px;
  max-width: 170px;
}

/* ABOUT ME */
section.aboutMe {
  background-color: #ffe9d6;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 35px 0;
  padding: 20px;
}
section.aboutMe h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
}
section.aboutMe {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
section.aboutMe > div.text-box {
  text-align: left;
  background-color: #b6977d;
  color: #000;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 30px;
  border-radius: 25px;
}
section.aboutMe > p {
  width: 42%;
  margin: 0 auto;
}
section.aboutMe > p > q {
  font-style: italic;
}

/* GENERIC SECTION */
section.section {
  background-color: #b6977d;
  padding: 30px;
  /* height: calc(100vh - 50px - 70px); */
  text-align: center;
}
section.section > div {
  background-color: #ffe9d6;
  padding: 20px;
}
section.section > div > h1 {
  background-color: #b6977d;
  color: #fff;
  font-size: 2.6rem;
  padding: 8px 24px;
  margin-bottom: 20px;
  display: inline-block;
}
section.section > div > div {
  text-align: left;
}
/* RESUME */
div.bar {
  display: inline-block;
  background-color: #fff;
  position: relative;
  height: 20px;
  width: 300px;
}
div.bar > div.barProgressHtml {
  width: 90%;
  position: absolute;
  height: 20px;
  background-color: #584835;
}

div.bar > div.barProgressCss {
  width: 77%;
  position: absolute;
  height: 20px;
  background-color: #584835;
}

div.bar > div.barProgressJs {
  width: 30%;
  position: absolute;
  height: 20px;
  background-color: #584835;
}

div.resumeText h2 {
  padding: 5px 15px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #fff;
  background-color: #b6977d;
  display: inline-block;
}

/* ABOUT */
div.aboutText h2 {
  padding: 5px 15px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #fff;
  background-color: #b6977d;
  display: inline-block;
}

/* CONTACT */
div.contact > div {
  display: grid;
  grid-template-columns: 60% 40%;
}
div.contact div.info {
  display: grid;
  grid-template-columns: 25px 25px 1fr;
  grid-template-rows: 50% 50%;
  margin-bottom: 30px;
}
div.contact div.info > img {
  grid-column-start: span 2;
  grid-row-start: span 2;
}
div.contact div.social > h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
div.contact div.social > div {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}
div.contact div.social > div > img {
  margin-right: 8px;
  height: 40px;
}

/* PROJECTS */
section#projects {
  background-color: #b6977d;
  height: 90vh;
  text-align: center;
  padding-bottom: 20px;
}
/* ABOUT ME */
div.aboutme > p {
  max-width: 466px;
}

section#projects > div > h1 {
  font-size: 50px;
  color: #ffffff;
  padding: 45px 0 10px 0;
}

section#projects > div > div.container {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-gap: 15px;
  margin: 25px 40px 25px 40px;
}
section#projects > div > div.container > div {
  display: flex;
  flex-direction: column;
}
section#projects > div > div.container > div > img {
  width: 100%;
  height: 250px;
}
section#projects > div > div.container > div > a {
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  display: block;
  padding: 15px;
  color: #000;
  border-radius: 22px;
  margin-top: 10px;
}
section#projects > div > div.container > div > a:hover {
  transition: all 0.2s linear;
  display: inline-block;
  border: 3px solid #b6977d;
}
section#projects > div > div.container > div.project-tile > div.description {
  background-color: #ffe9d6;
  text-decoration: none;
  display: block;
  padding: 7px;
  height: 125px;
  color: black;
}

/* FOOTER */
footer {
  height: 70px;
  color: #fdd2bf;
  display: flex;
  background-color: #584835;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

/* RESPONSIVE */
@media (max-width: 600px) {
  section#projects > div.container {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
}
